<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newstate="{{devoured}}">
		{{#if devoured}}Your devoured the burger! Yum!{{else}}The burger has gone uneaten.{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
